.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

/* Código Lau */
#clear {
  clear: left;
  height: 1px;
  margin-top: -1px;
 }


#question_submit {
  margin-top: 40px;
  margin-left: auto;
  margin-bottom: 60px;
  margin-right: auto;
  width: 90%;
  height: 30%;
  background-color: #9607FF;
  background: linear-gradient(rgba(150,7,255,0.4), #FFFFFF); /* Standard syntax */
  border-radius: 5px; 
} 

#question_submit form textarea {
  
  margin: 15px 10px;
  width: 95%;
  height: 20%;
  border: 1px solid transparent;
  border-radius: 3px;
}

.chulada_btn {
  float: left;
  margin: 5px 3px;
  border-radius: 5px;
  border: 1px solid #9670FF;
  text-decoration: none;
  text-align: center;
  /* background: linear-gradient(rgba(150,7,255,0.2), rgba(255,255,255,0.3), rgba(255,255,255,1)); */
  color: #330099;
  background: transparent;
  /* lilita #9670FF */
  /* verde claritoup  #50FF90*/
  /* background: linear-gradient(#FFFFFF, rgba(150,112,255,0.4)); */
}

#show_all_questions {
  display: none; /* para que permanezca oculto hasta usarlo */
}

#show, #hide {
  cursor: pointer;
}

/*
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked
*/

/* Para cualquier link */
a{
  font-family: monospace;
  font-size: 1.3em;
  color: #9607FF;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #9670FF;
    font-style: italic;
    text-decoration: underline;
}

a:active {
    color: white;
    background-color: #9670FF;
    text-decoration: underline;
}


/* links de preguntas */
#body_question_link{
  font-family: monospace;
  font-size: 1em;
  color: black;
}

#login_sing{
  font-size: 2.2em;
}



















