<div id="show_all_questions">
<% if @questions %>
  <% @questions.each do |q| %>
    <p>
      <a id="body_question_link" href="/question/<%= q.id %>/edit">
        <%= q.body %>
      </a>
    </p>
  <% end %>
<% end %>
</div>